html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: white;
}

.main {
    display: flex;
    margin: 150px 0px;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 400px;
    height: 600px;
    background-color: lightgrey;
    border-radius: 20px;
}