html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: white;
}

.main {
    display: flex;
    margin: 140px 0px;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 400px;
    height: 610px;
    background-color: lightgrey;
    border-radius: 20px;
    padding: 30px;
}

.screen {
    height: 160px;
    width: 340px;
    background-color: white;
    border-radius: 10px;
}

.buttons {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,82px);
    grid-template-rows: repeat(5,70px);
    grid-gap: 4px;
}


#clearBtn {
    grid-column: 1 / 3;
    background-color: rgb(235, 119, 119);
    border-radius: 80px;
}

#deleteBtn {
    grid-column: 3/-1;
    background-color: lightblue;
    border-radius: 80px;
}

#calculationScreen {
    height: 60%;
    font-size: 30px;
    text-align: right;
    padding: 10px;
}

#inputScreen {
    height: 40%;
    font-size: 20px;
    text-align: right;
    padding: 10px;
}