html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: white;
}

.main {
    display: flex;
    margin: 150px 0px;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 400px;
    height: 600px;
    background-color: lightgrey;
    border-radius: 20px;
    padding: 30px;
}

.screen {
    height: 160px;
    width: 340px;
    background-color: white;
    border-radius: 10px;
}

.buttons {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    gap: 4px;
}

.buttons button {
    width: 82px;
    height: 70px;
}